.deepTech .coverPage {
    height: 500px;
    /* background-image: url("../img/card1.jpg");
    background: linear-gradient(to bottom, #53535331, #554f4f1f);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    background: url('../img/DeepTech1.jpg') no-repeat center center fixed;
    background-size: cover;
    background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/DeepTech1.jpg') no-repeat center center fixed;
    background-size: cover;
  }
  .deepTech .coverPage .coverPageContent {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }
  .deepTech .coverPage .coverPageContent .title {
    color: white;
    font-size: 50px;
    font-weight: 700;
    padding: 10px 0;
  }
  .deepTech .coverPage .coverPageContent .content {
    color: white;
    font-size: 26px;
  }
  .deepTech .contentPage {
    margin: 80px 0;
  }
  .deepTech .contentPage .actualContent {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 40px;
  }
  .deepTech .contentPage .actualContent .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .deepTech .contentPage .actualContent .content .infoList {
    list-style: none;
  }
  .deepTech .contentPage .actualContent .content .infoList li {
    padding: 6px 0 ;
    display: flex;
  }
  .deepTech .contentPage .actualContent .content .infoList li .icon {
      color: #0068e5;
      margin-top: 2px;
      margin-right: 10px;
    }
  
  
  .deepTech .contentPage .actualContent .image {
    flex: 1;
    text-align: right;
  }
  